<% backlinked_pages = RedmineWikiReferences::BacklinkFinder.referencing_pages(issue, User.current) %>

<% if backlinked_pages.any? %>
  <hr />
  <div id="wiki-references">
    <p><strong><%= l(:label_wiki_references) %></strong></p>
    <table class="list issues odd-even">
      <tbody>
        <% backlinked_pages.each do |page| %>
          <tr>
            <td class="subject">
              <%= link_to page.pretty_title, project_wiki_page_path(page.project, page.title) %>
              &mdash;
              <%= link_to page.project.name, project_path(page.project) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
